<nav-bar></nav-bar>
<div id='profile' class="container">
	<!-- <h2>{{current_user.email}}</h2> -->
    <h2 id='profile'>Your Performance Results:</h2>
    <h3 id='profile'>Characters per second across all scripts</h3>
    <br>
    <!-- <button ng-click="getUserPerformances()">Load Data Brah</button> -->
    <button class="btn btn-md" id='resultsbtn' ng-click="getChart()">View Results</button><br>
<!-- <p ng-repeat="performance in user.performances">{{performance}}</p> -->
    <div class='chart'>
    	<nvd3-scatter-chart
                data="exampleData"
                transitionDuration="2000"
                id="exampleId"
                xAxisShow = true
                yAxisShow = true
                width="600"
                height="400"
                showDistX="true"
                xaxislabel="Completed Challenges"
                showDistY=true
                showLegend=true
                yAxisTickFormat="yAxisTickFormatFunction()"
                xAxisTickFormat="xAxisTickFormatFunction()">
            	<svg></svg>
        </nvd3-scatter-chart>
    </div>
    <br><br><br>
</div>