<nav-bar></nav-bar>
<div class="container">
	<!-- <h2>{{user.name}}</h2> -->
    <h2>Your Performance:</h2>
    <h3>Characters per second across all scripts</h3>
    <!-- <button ng-click="getUserPerformances()">Load Data Brah</button> -->
    <button ng-click="getChart()">View Results</button>
<!-- <p ng-repeat="performance in user.performances">{{performance}}</p> -->

	<nvd3-scatter-chart
            data="exampleData"
            transitionDuration="2000"
            id="exampleId"
            xAxisShow = true
            yAxisShow = true
            width="600"
            height="400"
            showDistX="true"
            xaxislabel="Coding Attempt Number"
            showDistY=true
            showLegend=true
            yAxisTickFormat="yAxisTickFormatFunction()"
            xAxisTickFormat="xAxisTickFormatFunction()">
        	<svg></svg>
    </nvd3-scatter-chart>
</div>