pre code {
  text-align: center;
  display: block; padding: 0.5em;
  color: #333;
  background: #f8f8ff;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  padding: 0.5em;
/*  margin-left: 1em;*/
  background: none repeat scroll 0% 0% #F8F8FF;
}

code {
  padding-top: 15em;
  text-align: center;
  /*position: fixed;*/
}

#all {
  /*background-color: #A1FFFA;*/
}

.typed {
  color: black;
}

/*.alert {
  
}*/

.typebox {
  height: 10em;
  width: auto;
}

img {
  width: 60%;
  height: auto;
}

#gameplay {
  padding-right: 8em;
}

.start {
  text-align: center;
}

.cursor {
  background-color: #B8B8B8;
}

.untyped {
  color: #A4A4A4;
}

.incorrect {
  color: red;
}

.goods {
  text-align: center;
  color: green;
  /*position: fixed;*/
}

.goods span {
  font-size: 16px;
  font-weight: bold;
  width: auto;
}

#timer {
  padding-top: 5px;
  text-align: center;
  width: 75px;
  height: 50px;
  background-color: darkgray;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10%;
  border: 1px solid black;
  margin: 0 auto;
  margin-bottom: 20px;
}


h1 {
  text-align: center;
}

ul {
  padding-left: 0;
  list-style-type: none;
  text-align: center
}

h4 {
  text-align: center;
}

#button {
  text-align: center;
  font-size: 26px;
  width: 200px !important;
}

.instructions {
  text-align: center;
}

.diagram {
  text-align: center;
}

#sidebar {
  text-align: center;
  /*padding-left: 3em;*/
}

#enterSign {
  position: fixed;
  margin-left: 20%;
  color: green;
}

.custom {
  width: 105px !important;
}