// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

a.btn, .btn {
	background: #428bca; 
	color: white;
}

#logout-btn {
  margin-top: 8px;
}