<nav-bar></nav-bar>

<h1>{{user.email}}</h1>
<table>
	<tr>
		<td>CPS</td>
		<td>Missed</td>
		<td>Time</td>
	</tr>

	<tr ng-repeat="performance in performances">
		<td>{{performance.wpm}}</td>
		<td>{{performance.missed_characters}}</td>
		<td>{{performance.time_elapsed | date: 'm.ss.s'}}</td>
	</tr>
	

<!-- jjjjjjjjjjjjjjjjjj -->
 
    <p>
        Group by:
        <a ng-click="groupBy('friend')">Lesson</a> -
        <a ng-click="groupBy( 'hair' )">Hair</a>
    </p>
 
    <!-- BEGIN: Outer ngRepeat. -->
    <div ng-repeat="group in groups">
 
        <h2>
            {{ group.label }}
        </h2>
 
        <ul>
            <!-- BEGIN: Inner ngRepeat. -->
            <li ng-repeat="friend in group.friends">
                {{ friend.name }}
            </li>
            <!-- END: Inner ngRepeat. -->
        </ul>
 
    </div>



</table