<div class="navbar navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><a ng-click="/">Home</a></li>
    </ul>
    <div class="pull-right">
      <form name="signInForm" ng-hide="!isRegistered || isSignedIn " class="navbar-form form-parsley" ng-animate="'animate'" novalidate>
        <div class="form-group error-msg">
          <span ng-show="errors">{{ errors }}</span>
        </div>
        <div class="form-group error-msg">
          <span ng-show="signInForm.password.$error.minlength">Password too short!</span>
        </div>
        <div class="form-group">
          <input type="email" placeholder="Email" name="email" class="form-control" ng-model="user.email" ng-animate="'animate'" required>
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" name="password" class="form-control" ng-model="user.password" ng-animate="'animate'" ng-minlength="8" required>
        </div>
        <button class="btn" ng-click="login(user)" ng-animate="'animate'" ng-disabled="signInForm.$invalid || signInForm.$pristine">Log in</button>
        <button class="btn" ng-click="isRegistered = false" ng-animate="'animate'">Sign up</button>
      </form>

      <form name="registrationForm" ng-hide="isRegistered" class="navbar-form form-parsley">
        <div class="form-group error-msg">
          <span ng-show="registrationForm.password.$error.minlength">Password too short!</span>
        </div>
        <div class="form-group error-msg">
          <span ng-show="errors">{{ errors }}</span>
        </div>
        <div class="form-group">
          <input type="email" placeholder="Email" class="form-control" ng-model="newUser.email">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" name="password" class="form-control" ng-model="newUser.password" ng-minlength="8" required>
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password Confirmation" class="form-control" ng-model="newUser.password_confirmation" required>
        </div>
        <button class="btn" ng-click="register(newUser)" ng-disabled="registrationForm.$invalid || registrationForm.$pristine">Register</button>
      </form>
      <button class="btn" id="logout-btn" ng-show="isSignedIn" ng-click="logout()">Log out</button>
    </div>
  </div>
</div>