<nav-bar></nav-bar>
<div class="container">
	<h2>{{user.name}}</h2>
	<button ng-click="getChart()">Get Chart Brah</button>

<!-- <p ng-repeat="performance in user.performances">{{performance}}</p> -->

	<nvd3-scatter-chart
            data="exampleData"
            transitionDuration="3000"
            id="exampleId"
            xAxisShow = true
            yAxisShow = true
            width="600"
            height="400"
            showDistX="true"
            showDistY="true"
            yAxisTickFormat="yAxisTickFormatFunction()"
            xAxisTickFormat="xAxisTickFormatFunction()">
        	<svg></svg>
    </nvd3-scatter-chart>
</div>