<nav-bar></nav-bar>
	{{user.name}}

	<button ng-click="getUserPerformances()">Load Performances</button>

	<button ng-click="printData()">Print Data</button>

	<button ng-click="getChart()">GEt Chart Brah</button>

<!-- <p ng-repeat="performance in user.performances">{{performance}}</p> -->

<div>
	<nvd3-scatter-chart
            data="exampleData"
            id="exampleId"
            xAxisShow = true
            yAxisShow = true
            yAxisTickFormat="yAxisTickFormatFunction()"
            xAxisTickFormat="xAxisTickFormatFunction()">
        	<svg></svg>
    </nvd3-scatter-chart>
</div>