<div id="sidebar">
  <div ng-show="showLanguages">
    <h4>Select a language:</h4>
    <ul ng-repeat='language in languages'>
      <li><a id="button" class='btn custom' ng-click="getLessons(language.name)">{{ language.name }}</a></li>
    </ul>
  </div>
  
  <div ng-show="showLessons">
    <h4>Select a lesson</h4>
    <ul ng-repeat='lesson in lessons' >
      <li><a id="button" class='btn custom' ng-click="getScripts(lesson.id)">{{ lesson.title }}</a></li>
    </ul>
  </div>

  <div ng-show="showScripts">
    <h4>Select a script</h4>
    <ul ng-repeat='script in scripts'>
      <li><a id="button" class='btn custom' ng-click="setScript(script)">Difficulty: {{ script.sub_difficulty }}</a></li>
    </ul>
  </div>

  <a ng-click="back()" ng-show="showLessons || showScripts">Back</a>
</div>